@import "../app.component.css";

/* we could use the wishlist ID as well but creating a class is more readable and reusable */
.wishlist-container-height {
    min-height: 22rem;
}

.clear-button-margin {
    margin-left: 1rem;
    float: right;
    margin-right: 19px;
    margin-top: -44px;
}

.delete-button-padding {
    padding-left: 10px;
    margin-top: -34px;
    float: right;
}
