<div (cdkDropListDropped)="onDrop($event)" [cdkDropListConnectedTo]="['sharedList']"
     [cdkDropListData]="wishListArray"
     appWishList
     cdkDropList
     class="wishlist-container-height"
     id="wishList">
    <h2>{{listTitle}}</h2>
    <span>
        <button (click)="clearAll(wishListArray)" *ngIf="wishListArray.length>0"
                class="mat-button clear-button-margin">clear all</button><br><br>
    </span>
    <mat-card *ngFor="let todo of wishListArray" cdkDrag>
        <mat-card-header>
            <mat-card-subtitle>{{todo}}</mat-card-subtitle>
        </mat-card-header>
        <img (click)="deleteItem(todo)" class="delete-button-padding" src="assets/images/6.png">
    </mat-card>
</div>
