<div class="container">
    <div class="list-container">
        <div class="todo-container column-container">
            <div class="list"
                 cdkDropList
                 [cdkDropListConnectedTo]="['wishList']"
                 [cdkDropListData]="items"
                 (cdkDropListDropped)="onDrop($event)">
                <h2>{{title}}</h2>
                <mat-card *ngFor="let todo of items" cdkDrag>
                    <mat-card-header>
                        <mat-card-subtitle>{{todo}}</mat-card-subtitle>

                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
</div>
