<div class="padding-top">
    <div class="container">
        <div class="list-container">

            <!-- food item component -->
            <div class=" column-container">
                <div #foodComponent></div>
            </div>

            <!--the wish list where the data would be dropped -->
            <div class=" column-container">
                <div #wishListComponent></div>
            </div>

            <!-- beach item component -->
            <div class=" column-container">
                <div #beachComponent></div>
            </div>
        </div>
    </div>

</div>
