
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-self: center;
}

.list-container {
    flex-direction: row;
    justify-content: space-around;

}

.column-container {
    width: 400px;
    max-width: 100%;
    margin: 0 2rem;
    display: inline-block;
    vertical-align: top;
    background-color: RGBA(255, 255, 255, 0.05);
}


mat-card {
    margin: 1em;
    cursor: pointer;
}

.list {
    border-radius: 2px;
}

.list-item {
    margin: 10px;
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

a {
    text-decoration: none;
    color: dodgerblue;
}


.padding-top{
    padding-top: 3rem;

}
