@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html, .mat-card, mat-card-title, mat-card-subtitle, .mat-card-subtitle {
  font-family: "Andale Mono", serif;
  background-color: #3E80A5;
  color: #F2F4F3;
}

.mat-card {
  height: 30px;
}
